*{
    padding: 0;
    margin: 0;
}
body{
    /* background-color: black; */
}
nav{
    background-color: black;
    border: 1px solid white;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 239px;
}
button{
    background-color: orange;
}

.box{
border: 1px solid black;
height: 100px;
width: 100px;
}
#box1{
    background-color: rgb(199, 7, 7 , 0.5);
}
#box2{
    background-color: rgba(107, 135, 9, 0.5);
}
#box3{
    background-color: rgba(9, 74, 177, 0.5);
}