*{
    padding: 0;
    margin: 0;
}

#navbar{
    background-color: black;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
}
button{
    background-color: orange;
}
main{
    display: flex;
    justify-content: center;
}
.box{
border: 1px solid black;
height: 100px;
width: 100px;
}
#box1{
    background-color: rgb(199, 7, 7 , 0.5);
}
#box2{
    background-color: rgba(107, 135, 9, 0.5);
}
#box3{
    background-color: rgba(9, 74, 177, 0.5);
}

@media (width:300px){
    #box1{
        background-color: green;
    }
}
@media (min-width :300px) and (max-width :400px){
    #box1{
        background-color: pink;
    }
}
@media (min-width :400px) and (max-width :600px){
    #box1{
        background-color: red;
    }
}
@media (min-width :600px){
    #box1{
        background-color: blue;
    }
}
